body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Start index page */
.header{
    padding:20px;
}
.header .logo img{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.form{
    margin-top:70px;
}
.form form input{
    padding:5px 10px ;
    margin-top:20px;
    border-radius: 7px;
    border: 1px solid #000
}

/* End index Page */

.footer{
    margin-top:50px;
    padding-left :30px;
}
.footer b{
    font-size: 16px;
}


@media print
{
    .footer{
        display: none!important;
    }
    .header{
        display: none !important;
    }
    .card{
        border:none;
    }
    .card h3{
        font-size: 40px;
    }
    .card h1{
        font-size: 60px
    }
}